#cal {
	position: absolute;
	top: 43px;
	left: 210px;
	right: 0px;
	bottom: 0px;
	background-color: #ffffff;
}

/** groupbox list styles */

#grouplist-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 209px;
	height: 100%;
	border-right: 1px solid #bcc2c7;
	background-color: #dfe1e3;
	overflow: auto;
}

#groupboxlist {
	margin: 43px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	white-space: nowrap;
}

#groupboxlist li  {
	height: 32px;
	border-top: 1px solid #e9eaeb;
	border-bottom: 1px solid #c7ccd1;
}

#groupboxlist li a {
	height: 22px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding-left: 37px;
	padding-top: 9px;
	text-decoration: none;
	cursor: default;
	background: transparent url("images/icons/contacts.png") 13px 7px no-repeat;
}

#groupboxlist li.unread {
	font-weight: bold;
}

#groupboxlist li.selected,
#groupboxlist li.droptarget li.selected {
	background: #778da8 url("images/listselected.png") top left repeat-x;
	border-top: 1px solid #87929c;
	border-bottom: 1px solid #677482;
}

#groupboxlist li.selected > a,
#groupboxlist li.droptarget li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#groupboxlist li.droptarget {
	background-color: #c5d4e4;
}

/* styles for nested folders */
#groupboxlist ul {
	margin: 0px;
	padding: 2px 0px 0px 15px;
	list-style: none;
	white-space: nowrap;
	background-position: 25px 0px;
}

#groupboxcontrols {
	position: absolute;
	left: 0px;
	width: 209px;
	bottom: 0px;
	height: 33px;
	overflow: hidden;
	border-top: 1px solid #bcc2c7;
}

#groupboxcontrols a {
	width: 37px;
	height: 32px;
	display: block;
	overflow: hidden;
	border-top: 1px solid #e9eaeb;
	border-left: 1px solid #bcc2c7;
	border-right: 1px solid #e9eaeb;
	color: transparent;
	float: left;
}

#groupboxcontrols a {
	width: 36px;
	background: transparent url("images/icons/export.png") 12px 10px no-repeat;
	border-left: 0px solid transparent;
}

#groupboxcontrols a img {
	display: none;
}

#groupboxcontrols #rcmcountdisplay {
	width: 162px;
	height: 33px;
	border-top: 1px solid #e9eaeb;
	border-left: 1px solid #bcc2c7;
	color: #677482;
	font-size: 11px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
	display: block;
	margin: 0px 0px 0px 37px;
	padding: 9px 0px 0px 9px;
}
#settingslist-container {
	width: 209px;
	height: 100%;
	position: fixed;
	top: 43px;
	left: 0px;
	bottom: auto;
	border-right: 1px solid #bcc2c7;
	background-color: #dfe1e3;
	overflow: auto;
}

#settingslist {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	white-space: nowrap;
}

#settingslist li  {
	height: 32px;
	border-top: 1px solid #e9eaeb;
	border-bottom: 1px solid #c7ccd1;
}

#settingslist li a {
	height: 22px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding-left: 37px;
	padding-top: 9px;
	text-decoration: none;
	cursor: default;
	background: transparent url("images/icons/contacts.png") 13px 7px no-repeat;
}

#settingslist li.selected,
#settingslist li.droptarget li.selected {
	background: #778da8 url("images/listselected.png") top left repeat-x;
	border-top: 1px solid #87929c;
	border-bottom: 1px solid #677482;
}

#settingslist li.selected > a,
#settingslist li.droptarget li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#settingslist li.preferences a {
	background: transparent url("images/icons/preferences.png") 12px 7px no-repeat;
}

#settingslist li.identities a {
	background: transparent url("images/icons/identities.png") 12px 7px no-repeat;
}

#settingslist li.folders a {
	background: transparent url("images/icons/folders.png") 12px 7px no-repeat;
}

#settingslist li.export a {
	background: transparent url("images/icons/export.png") 12px 7px no-repeat;
}

#settingslist li.personal a {
	background: transparent url("images/icons/personal.png") 12px 7px no-repeat;
}

#settingslist li.work a {
	background: transparent url("images/icons/work.png") 12px 7px no-repeat;
}

#settingslist li.family a {
	background: transparent url("images/icons/family.png") 12px 7px no-repeat;
}

#settingslist li.holiday a {
	background: transparent url("images/icons/holiday.png") 12px 7px no-repeat;
}

#settingslist li.other a {
	background: transparent url("images/icons/other.png") 12px 7px no-repeat;
}