#mainscreen
{
  position: absolute;
  top: 43px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

 #messagetoolbar
{
  position: absolute;
  top: 47px;
  left: 205px;
  right: 10px;
  height: 35px;
  min-width: 650px;
  white-space: nowrap;
 /* border: 1px solid #cccccc; */
 } 

#messagetoolbarunder {
	height: 34px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: transparent url("images/bgblue.png") top left repeat-x;
	text-align: left;
	white-space: nowrap;
	z-index: 0;
}

#messagetoolbarunder .left {
	float: left;
	padding: 5px 0px 0px 12px;
}

#messagetoolbarunder .center {
	width: 300px;
	height: 33px;
	margin: 0px auto;
	padding-top: 5px;
	text-align: left;
}

#messagetoolbarunder .center a {
	padding-right: 11px;
	color: transparent;
}

#messagetoolbarunder .right {
	position: absolute;
	top: 7px;
	right: 14px;
}

#messagetoolbarunder .right .buttoncontainer {
	width: 70px;
}

#messagetoolbarunder .right .leftbutton a {
	width: 36px;
	height: 24px;
	background: transparent url("images/buttons/buttonbgblueleft.png") top left no-repeat;
	color: transparent;
}

#messagetoolbarunder .right .rightbutton a {
	width: 34px;
	height: 24px;
	background: transparent url("images/buttons/buttonbgblueright.png") top left no-repeat;
	color: transparent;
}

#messagetoolbarunder .right img {
	padding: 4px 0px 0px 0px;
}

#messagetoolbarunder a {
	width: 48px;
	height: 21px;
	background: transparent url("images/buttons/buttonbgblue.png") top left no-repeat;
	display: block;
	float: left;
	padding-top: 3px;
	text-align: center;
	color: transparent;
}

#messagetoolbarunder select {
	font-family: Helvetica,Arial,Verdana,sans-serif;
	font-size: 13px;
	color: #000000;
}

#messagetoolbarunder select.mboxlist {
	 margin: 2px 0px 0px 2px;
}

#messagetoolbarunder select.mboxlist option {
	padding-left: 15px;
}

#messagetoolbarunder select.mboxlist option[value="0"] {
	padding-left: 2px;
}


td.formlinks a,
td.formlinks a:visited {
  color: #999999;
  font-size: 11px;
  text-decoration: none;
}

td.formlinks a,
td.formlinks a:visited {
	color: #2593CC;
}

#messagecountbar {
	height: 21px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	text-align: right;
	white-space: nowrap;
	background-color: #f0f0f0;
	border-top: 1px solid #d6d6d6;
	margin-top: 2px;
}

#messagecountbar span {
	font-size: 11px !important;
	font-family: Helvetica,Arial,sans-serif;
	color: #666666;
}

#messagecountbar img {
	padding-top: 2px;
	vertical-align: middle;
	color: transparent;
}

#messagecountbar .messagecountbarbuttons {
	padding-right: 12px;
}

#messagepartcontainer
{
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}

#mailrightcontainer {
position: absolute;
	top: 0px;
	left: 210px;
	right: 0px;
	bottom: 0px;
}

#mailcontframe {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 25px;
	background-color: #ffffff;
	overflow: auto;
}

#mailpreviewframe {
	position: absolute;
	top: 322px;
	left: 0px;
	right: 0px;
	bottom: 22px;
}

#messagecontframe {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#messagepartframe
{
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  background-color: #ffffff;
}


#partheader
{
  position: absolute;
  top: 10px;
  left: 220px;
  right: 20px;
  height: 40px;
}

#partheader table td
{
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
  font-size: 11px;
}

#partheader table td.title
{
  color: #666666;
  font-weight: bold;
}


/** mailbox list styles */

#mailboxlist-container {
	width: 210px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 33px;
	border-right: 1px #dfe1e3;
	background-color: #dfe1e3;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
}

#mailboxlist
{
  position:relative;
  height: auto;
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

#mailboxlist li
{
  display: block;
  position: relative;
  font-size: 11px;
  border-bottom: 1px solid #EBEBEB;
}

#mailboxlist li div
{
  position: absolute;
  left: 8px !important;
  left: -16px;
  top: 2px;
  width: 14px;
  height: 16px;
}

#mailboxlist li div.collapsed,
#mailboxlist li div.expanded
{
  cursor: pointer;
}

#mailboxlist li div.collapsed
{
  height: 22px;
  background: url('images/icons/collapsed.png') bottom right no-repeat;
}

#mailboxlist li div.expanded
{
  height: 22px;
  background: url('images/icons/expanded.png') bottom right no-repeat;
}

#mailboxlist li  {
	border-top: 1px solid #e9eaeb;
	border-bottom: 1px solid #c7ccd1;
}

#mailboxlist a {
	height: 23px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding: 9px 0px 0px 35px;
	text-decoration: none;
	cursor: default;
	background: transparent url("images/icons/folder-closed.png") 12px 7px no-repeat;
}

#mailboxlist li.inbox a {
	height: 22px;
	padding-top: 10px;
	background: transparent url("images/icons/folder-inbox.png") 12px 7px no-repeat;
}

#mailboxlist li.drafts a {
	height: 22px;
	padding-top: 10px;
	background: transparent url("images/icons/folder-drafts.png") 12px 7px no-repeat;
}

#mailboxlist li.sent a {
	height: 22px;
	padding-top: 10px;
	background: transparent url("images/icons/folder-sent.png") 12px 7px no-repeat;
}

#mailboxlist li.trash a {
	height: 22px;
	padding-top: 10px;
	background: transparent url("images/icons/folder-trash.png") 12px 7px no-repeat;
}

#mailboxlist li.junk a {
	height: 22px;
	padding-top: 10px;
	background: transparent url("images/icons/folder-junk.png") 12px 7px no-repeat;
}

#mailboxlist ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	white-space: nowrap;
}

#mailboxlist ul li {
	border: none;
	border-top: 1px solid #cbced3;
	background-color: #d6d8db;
}

#mailboxlist ul li a {
	padding: 9px 0px 0px 53px;
	background: transparent url("images/icons/folder-closed.png") 30px 7px no-repeat;
}

#mailboxlist ul li ul li a {
	padding: 9px 0px 0px 71px;
	background: transparent url("images/icons/folder-closed.png") 48px 7px no-repeat;
}

#mailboxlist ul li ul li ul li a {
	padding: 9px 0px 0px 89px;
	background: transparent url("images/icons/folder-closed.png") 66px 7px no-repeat;
}

#mailboxlist ul li ul li ul li ul li a {
	padding: 9px 0px 0px 107px;
	background: transparent url("images/icons/folder-closed.png") 84px 7px no-repeat;
}

#mailboxlist ul li ul li ul li ul li ul li a {
	padding: 9px 0px 0px 125px;
	background: transparent url("images/icons/folder-closed.png") 102px 7px no-repeat;
}

#mailboxlist li.unread {
	font-weight: bold;
}

#mailboxlist li.selected,
#mailboxlist li.droptarget li.selected {
	background: #778da8 url("images/listselected.png") top left repeat-x;
	border-top: 1px solid #87929c;
	border-bottom: 1px solid #677482;
}

#mailboxlist li.selected > a,
#mailboxlist li.droptarget li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#mailboxlist li.droptarget {
	background-color: #c5d4e4;
}

#mailboxcontrols {
	position: absolute;
	background-color: #D7D9DC;
	z-index: 22;
	left: 0px;
	width: 210px;
	bottom: 0px;
	height: 33px;
	overflow: hidden;
	font-size: 0px;
	border-top: 1px solid #bcc2c7;
}

#mailboxcontrols a {
	width: 36px;
	height: 32px;
	display: block;
	overflow: hidden;
	border-top: 1px solid #e9eaeb;
	border-left: 1px solid #bcc2c7;
	border-right: 1px solid #e9eaeb;
	color: transparent;
	float: left;
}

#mailboxcontrols a.active {
	width: 36px;
	background: transparent url("images/icons/compact.png") 12px 10px no-repeat;
	border-left: 0px solid transparent;
}

#mailboxcontrols a.active2 {
	width: 36px;
	border-right: 1px solid #bcc2c7;
	background: transparent url("images/icons/purge.png") 10px 8px no-repeat;
}

/** message list styles */

body.messagelist
{
  margin: 0px;
  background-color: #ffffff;
}

#messagelist {
	width: 100%;
	display: table;
	table-layout: fixed;
	overflow: hidden;
}

/* safari hack \*/
html>body*#messagelist[id$="messagelist"]:not([class="none"]) { table-layout: auto; }
/**/

#messagelist thead tr td {
	height: 16px;
	background: transparent url("images/listheader.png") top left repeat-x;
	padding-top: 1px;
}

#messagelist thead tr td.sortedASC,
#messagelist thead tr td.sortedDESC {
	background: transparent url("images/listheader_dark.png") top left repeat-x;
}

#messagelist thead tr td.sortedASC a {
	background: transparent url("images/sort_desc.png") right 2px no-repeat;
	color: #ffffff;
	font-family: Helvetica,Arial,sans;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

#messagelist thead tr td.sortedDESC a {
	background: transparent url("images/sort_asc.png") right 2px no-repeat;
	color: #ffffff;
	font-family: Helvetica,Arial,sans;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

#messagelist thead tr td a, #messagelist thead tr td a:active, #messagelist thead tr td a:visited {
	width: 100%;
	color: #535353;
	font-size: 11px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
	text-decoration: none;
	padding: 1px 0px 0px 4px;
	display: block;
	cursor: default;
}

#messagelist thead tr td.flag {
	width: 23px;
	border-right: 1px solid #b3b3b3;
}

#messagelist thead tr td.icon {
	width: 23px;
	border-right: 1px solid #b3b3b3;
}

#messagelist thead tr td.cg {
	width: 23px;
	border-right: 1px solid #b3b3b3;
}

#messagelist thead tr td.from {
	width: 280px;
	border-right: 1px solid #b3b3b3;
	padding-left: 10px;
}

#messagelist thead tr td.to {
	width: 280px;
	border-right: 1px solid #b3b3b3;
	padding-left: 10px;
}

#messagelist thead tr td.subject {
	width: 100%;
	border-right: 1px solid #b3b3b3;
	padding-left: 10px;
}

#messagelist thead tr td.date {
	width: 110px;
	border-right: 1px solid #b3b3b3;
	padding-left: 10px;
}

#messagelist thead tr td.size {
	width: 65px;
	border-right: 1px solid #b3b3b3;
	padding-left: 10px;
}

#messagelist tbody tr td {
	font-size: 13px;
	font-family: Helvetica,Arial,sans;
	line-height: 17px;
	overflow: hidden;
	white-space: nowrap;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 1px 0px 1px 5px;
	cursor: default;
}

#messagelist tbody tr td a {
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
	cursor: default;
}

#messagelist col
{
  display: table-column;
  text-align: left;
  vertical-align: top;
}

#messagelist tr td.icon {
	vertical-align: top;
}

#messagelist tr td.cg {
	vertical-align: top;
	overflow: hidden;
	font-size: 0px;
	color: transparent;
}

#messagelist tr td.from,
#messagelist tr td.to {
  width: 144px;
  vertical-align: top;
}

#messagelist tr td.subject
{
  overflow: hidden;
  vertical-align: top;
}

#messagelist tr td.date {
	vertical-align: top;
}

#messagelist tr td.size {
	text-align: left;
	vertical-align: top;
}

#messagelist tr.message {
	background-color: #ffffff;
}

#messagelist tr.unread,
#messagelist tr.unread td a
{
  font-weight: bold;
}

#messagelist tr.selected td {
	color: #ffffff;
	background-color: #778da8;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

#messagelist tr.unfocused td {
	color: #000000;
	background-color: #e9e9e9;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

#messagelist tr.selected td a
{
  color: #ffffff;
}

#messagelist tr.unfocused td a
{
  color: #000000;
}

#messagelist tr.deleted td a
{
  color: #CCCCCC;
}

#messagelist tr.deleted td,
#messagelist tr.deleted td a
{
  color: #CCCCCC;
}

#quota
{
  position: absolute;
  white-space: nowrap;
  left: 150px;
  bottom: 0px;
  height: 15px;
  width: auto;
  min-width: 150px;
}

#quota span
{
  position: absolute;
  bottom: 4px;
  font-size: 11px;
  font-family: Helvetica,Arial,Verdana,sans-serif;
}

#quotadisplay
{
  position:absolute;
  display: block;
  float: left;
  left: 110px;
  height: 12px;
  padding: 0;
  margin-right: 2px;
  margin-bottom: 1px;
  color: #666666;
  font-size: 11px;
}

#quotadisplay img
{
  vertical-align: middle;
  margin-left: 4px;
  border: 1px solid #666666;
}

/** message view styles */


#messageframe {
	position: absolute;
	top: 34px;
	left: 0px;
	right: 0px;
	bottom: 22px;
	overflow: auto;
	border-top: 1px solid #cdcdcd;
	padding-top: 7px;
}

div.messageheaderbox {
	padding-top: 16px;
}

div.borderline {
	border-top: 1px solid #D6D6D6;
	font-size: 0px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 11px;
}

table.headers-table {
	width: 100%;
	table-layout: fixed;
}

table.headers-table a {
	color: #000000;
	font-size: 13px;
	font-weight: normal;
	font-family: Helvetica,Arial,sans-serif;
}

#messagebody table.headers-table
{
  width: auto;
  margin: 6px 8px;
  background-color: #F4F4F4;
  border: 1px solid #ccc;
}

table.headers-table tr td {
	padding-left: 5px;
	font-size: 13px;
	font-family: Helvetica,Arial,sans;
}

table.headers-table td.header-title {
	width: 80px;
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans;
	text-align: right;
	white-space: nowrap;
}

table.headers-table tr td.subject {
	padding-left: 5px;
	width: 100%;
	font-weight: bold;
}

#attachment-list
{
  margin: 0px;
  padding: 0px 0px 0px 72px;
  min-height: 16px;
  list-style-image: none;
  list-style-type: none;
  background: url("images/icons/attachment.png") 60px 2px no-repeat #DFDFDF;
  /* IE6 hack */    
  _height: expression(Math.min(16, parseInt(document.documentElement.clientHeight))+'px');
}

#attachment-list:after
{
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#attachment-list li
{
  float: left;
  height: 18px;
  font-size: 11px;
  padding: 2px 0px 0px 15px;
  white-space: nowrap;
}

#attachment-list li a
{
  text-decoration: none;
}

#attachment-list li a:hover
{
  text-decoration: underline;
}

#messagebody
{
  margin: 15px;
  position:relative;
  padding: 15px;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
}

div.message-part {
	padding: 13px 0px 0px 15px;
}

#messagebody div:first-child
{
  border-top: 0;
}

div.message-part a,
div.message-htmlpart a
{
  color: #0000CC;
}

div.message-part pre,
div.message-htmlpart pre,
div.message-part div.pre
{
        margin: 0px;
        padding: 0px;
        white-space: -moz-pre-wrap !important;
        white-space: pre-wrap !important;
        white-space: pre;
        font-size: 13px;
        font-family: Helvetica,Arial,sans;
        line-height: 18px;
}

div.message-part blockquote
{
  color: blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  background-color: #F6F6F6;
  margin: 2px 0px 2px 0px;
  padding: 1px 8px 1px 10px;
}

div.message-part blockquote blockquote
{
  color: green;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

div.message-part blockquote blockquote blockquote
{
  color: #990000;
  border-left: 2px solid #bb0000;
  border-right: 2px solid #bb0000;
}

body.iframe div.message-htmlpart {
	margin: 8px;
}

div.message-htmlpart div.rcmBody
{
  margin: 8px;
}

#remote-objects-message
{
  display: none;
  height: 20px;
  min-height: 20px;
  margin: 8px 8px 0px 8px;
  padding: 10px 10px 6px 46px;  
}

#remote-objects-message a
{
  color: #666666;
  padding-left: 10px;
}

#remote-objects-message a:hover
{
  color: #333333;
}


/** message compose styles */

td.formlinks a,
td.formlinks a:visited
{
  color: #1C4FAD;
  font-size: 11px;
  font-family: Helvetica,Arial,sans-serif;
  text-decoration: none;
}

#priority-selector,
#receipt-selector
{
  padding-left: 30px;
}

#compose-cc,
#compose-bcc,
#compose-replyto
{
  display: none;
}

#compose-attachments-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 210px;
	height: 100%;
	border-right: 1px solid #bcc2c7;
	background-color: #dfe1e3;
	overflow: auto;
}

#rcmAttachmentList,
#attachment-title {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	white-space: nowrap;
}

#attachment-title li  {
	height: 32px;
	border-top: 1px solid #e9eaeb;
	border-bottom: 1px solid #c7ccd1;
}

#attachment-title li a {
	height: 22px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding-left: 30px;
	padding-top: 7px;
	text-decoration: none;
	cursor: default;
	background: transparent url("images/icons/attachment.png") 6px 9px no-repeat;
	color: transparent;
}

#rcmAttachmentList {
	margin: 0px;
	padding: 0px;
	list-style: none;
	white-space: nowrap;
}

#rcmAttachmentList img {
	vertical-align: middle;
	padding-right: 2px;
}

#rcmAttachmentList li {
	height: 22px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding-left: 5px;
	padding-top: 5px;
	text-decoration: none;
}

#attachment-form {
	position: absolute;
	top: 85px;
	margin-left: 10px;
	z-index: 200;
	padding: 8px;
	visibility: hidden;
	text-align: center;
	border: 1px solid #999999;
	background-color: #dfe1e2;
}

#attachment-form div
{
  padding: 3px;
}

#attachment-form div.buttons
{
  margin-top: 4px;
}

#compose-container {
	position: absolute;
	top: 34px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#compose-container .header {
	min-height: 125px;
	height: auto;
	background-color: #f2f2f2;
	border-bottom: 0px solid #cccccc;
	padding: 14px 0px 0px 4px;
	font-size: 13px;
	font-family: Helvetica,Arial,sans-serif;
}

#compose-container .header img {
	color: transparent;
	padding-top: 9px;
	padding-right: 8px;
}

#compose-container .header td textarea,
#compose-container .header td input {
	width: 98%;
	height: 18px;
}

#compose-container .header td.attach {
	padding-bottom: 8px;
	color: #1C4FAD;
}

#compose-container .header td.attach a {
	width: 100px;
	height: 20px;
	position: absolute;
	display: block;
	z-index: 101;
}

#compose-container .header td.attach img {
	position: absolute;
	color: transparent;
	top: 0px;
	right: 0px;
	display: none;
}

#compose-container .header td.attach span {
	position: absolute;
	padding-top: 0px;
	z-index: 100;
}

#movealittle {
	top: 0px;
	right: 15px;
	padding-top: 8px;
	padding-right: 4px;
	border: none;
	z-index: 1002;
}

#compose-body-container {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 0.7%;
	background-color: #f2f2f2;
}

#compose-body {
	width: 98%;
	height: 79%;
	font-size: 13px;
	font-family: Helvetica,Arial,sans;
	line-height: 16px;
	overflow: auto;
}

#listcontrols
{
  position: absolute;
  white-space: nowrap;
  left: 0px;
  bottom: 0px;
  height: 15px;
  width: auto;
  min-width: 300px;
}

#listcontrols a,
#listcontrols span
{
  position: absolute;
  bottom: 4px;
  font-size: 11px;
  font-family: Helvetica,Arial,Verdana,sans-serif;
}

#listcontrols a.button,
#listcontrols a.buttonPas
{
  position:absolute;
  display: block;
  float: left;
  left: 160px;
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 2px;
  overflow: hidden;
  background: url('images/mail_footer.png') 0 0 no-repeat;
  opacity: 0.99; /* this is needed to make buttons appear correctly in Chrome */
}

#listcontrols a.buttonPas
{
  opacity: 0.35;
}

#listcontrols a.all 
{
  left: 50px;
  background-position: -30px 0px;
}

#listcontrols a.allsel 
{
  left: 50px;
  background-position: -30px -15px;
}

#listcontrols a.unread 
{
  left: 70px;
  background-position: -45px 0px;
}

#listcontrols a.unreadsel 
{
  left: 70px;
  background-position: -45px -15px;
}

#listcontrols a.invert 
{
  left: 90px;
  background-position: -60px 0px;
}

#listcontrols a.invertsel 
{
  left: 90px;
  background-position: -60px -15px;
}

#listcontrols a.none 
{
  left: 110px;
  background-position: -75px 0px;
}

#listcontrols a.nonesel 
{
  left: 110px;
  background-position: -75px -15px;
}

#countcontrols
{
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 25em;
  white-space: nowrap;
  font-size: 11px;
}

#countcontrols a.button,
#countcontrols a.buttonPas
{
  float: right;
}


.quota_text {
  text-align: center;
  font-size: 10px;
  color: #666;
  border: 1px solid #999;
  cursor: default;
}
.quota_bg { background-color: white; }
.quota_high { background-color: #F33131; }
.quota_mid { background-color: #F5AD3C; }
.quota_low { background-color: #91E164; }
.quota_text_high { color: white; }
.quota_text_mid { color: #666; }
.quota_text_low { color: #666; }

#markmessagemenu,
#messagemenu
{
  position: absolute;
  top: 32px;
  left: 90px;
  width: auto;
  display: none;
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 1px;
  opacity: 0.9;
  z-index: 240;
  font-color: black;
}

#searchmenu
{
  width: 110px;
  position: absolute;
  top: 32px;
  right: 60px;
  display: none;
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 1px;
  opacity: 1;
  z-index: 240;
  font-color: black;
}

#messagemenu li a.active:hover,
#markmessagemenu li a.active:hover
{
  color: #fff;
  background-color: #c00;
}

#messagemenu li a,
#markmessagemenu li a
{
  color: #fff;
  background-color: #c00;
}

#messagemenu li a
{
  background: url("images/messageactions.png") no-repeat 1px 0;
  background-position: 0px 20px;
}

#messagemenu li a.printlink
{
	  color: #000;
  background-position: 1px 1px;
}

#messagemenu li a.downloadlink
{
	  color: #000;
  background-position: 1px -17px;
}

#messagemenu li a.sourcelink
{
	  color: #000;
  background-position: 1px -35px;
}

#messagemenu li a.openlink
{
	  color: #000;
  background-position: 1px -53px;
}

#messagemenu li a.editlink
{
	  color: #000;
  background-position: 1px -71px;
}

#markmessagemenu a.readlink
{
	  color: #000;
  background: url('images/icons/dot.png') no-repeat 2px;
}

#markmessagemenu a.unreadlink
{
	  color: #000;
  background: url('images/icons/unread1.png') no-repeat 2px;
}

#markmessagemenu a.flaggedlink
{
	  color: #000;
  background: url('images/icons/flagged.png') no-repeat 2px;
}

#markmessagemenu a.unflaggedlink
{
	  color: #000;
  background: url('images/icons/unflagged.png') no-repeat 2px;
}