#taskbar {
	position: fixed;
}

#settingslist-container {
	width: 209px;
	height: 100%;
	position: fixed;
	top: 43px;
	left: 0px;
	bottom: auto;
	border-right: 1px solid #bcc2c7;
	background-color: #dfe1e3;
	overflow: auto;
}

#settingslist {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	white-space: nowrap;
}

#settingslist li  {
	height: 32px;
	border-top: 1px solid #e9eaeb;
	border-bottom: 1px solid #c7ccd1;
}

#settingslist li a {
	height: 22px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding-left: 37px;
	padding-top: 9px;
	text-decoration: none;
	cursor: default;
	background: transparent url("images/icons/contacts.png") 13px 7px no-repeat;
}

#settingslist span.tablink a {
	height: 22px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	font-family: Helvetica,Arial,sans-serif;
	color: #40474D;
	padding-left: 37px;
	padding-top: 9px;
	text-decoration: none;
	cursor: default;
	background: transparent url("images/icons/compact.png") 13px 7px no-repeat;
	border-top: 1px solid #e9eaeb;
	border-bottom: 1px solid #c7ccd1;
}

#settingslist span.selected a,
#settingslist li.selected,
#settingslist li.droptarget li.selected {
	background: #778da8 url("images/listselected.png") top left repeat-x;
	border-top: 1px solid #87929c;
	border-bottom: 1px solid #677482;
}

#settingslist span.selected a,
#settingslist li.selected > a,
#settingslist li.droptarget li.selected a
{
  color: #FFF;
  font-weight: bold;
}

#settingslist li.preferences a {
	background: transparent url("images/icons/preferences.png") 12px 7px no-repeat;
}

#settingslist li.identities a {
	background: transparent url("images/icons/identities.png") 12px 7px no-repeat;
}

#settingslist li.folders a {
	background: transparent url("images/icons/folders.png") 12px 7px no-repeat;
}

#userprefs-box {
	position: absolute;
	top: 43px;
	left: 210px;
	right: 312px;
	width: auto;
}

#userprefs-box .userprefs-title {
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: transparent url("images/bgblue.png") top left repeat-x;
	text-align: left;
	z-index: 2;
		color: #2C4865;
	font-size: 17px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
		overflow: hidden;
	overflow-y: auto;
	overflow-x: auto;
	padding: 11px 0px 0px 12px;
}

#userprefs-box fieldset {
	border: 0px;
	border-top: 1px solid #d9d9d9;
}

#userprefs-box legend {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	margin-bottom: 16px;
	border-bottom: 1px solid #d9d9d9;
	padding: 0px 0px 2px 0px;
}

#userprefs-box fieldset label {
	color: #666666;
	font-size: 13px;
	font-weight: normal;
	font-family: Helvetica,Arial,sans-serif;
}

#userprefs-box input.button {
	margin: 15px 3px 0px 35px;
	float: left;
}

.userprefs-block
{
  float: left;
  margin-right: 14px;
  min-width: 520px;
  /* css hack for IE */
  width: expression(Math.min(520, parseInt(document.documentElement.clientWidth))+'px');
}

#identities-list {
	position: absolute;
	top: 43px;
	left: 210px;
}

#identities-list .identities-title {
	color: #2C4865;
	font-size: 17px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	margin: 25px 0px 25px 34px;
	padding-bottom: 8px;
	border-bottom: 0px solid #d9d9d9;
}

#identities-list table {
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0px 0px 0px 34px;
}

#identities-list input.button {
	margin: 30px 3px 0px 35px;
	float: left;
}

#folders-container {
	position: absolute;
	top: 43px;
	left: 210px;
}

#folders-container .folders-title {
	color: #2C4865;
	font-size: 17px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	margin: 25px 0px 7px 33px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d9d9d9;
}

#folders-container form {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#folders-container table {
	color: #000000;
	font-size: 13px;
	font-weight: normal;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0px 0px 0px 29px;
}

#folders-container .newfolder {
	margin: 0px 0px 0px 29px;
}

#folders-container input.button {
	margin: 15px 3px 0px 35px;
	float: left;
}



/* new stuff */

#rcmfd_timezone
{
  width: 300px;
}

#listbuttons
{
  position: absolute;
  left: 20px;
  bottom: 18px;
}



input.disabled
{
  color: #999999;
}

#bottomboxes
{
  position: absolute;
  width: 600px;
  height: 120px;
  left: 20px;
  bottom: 20px;
}

div.settingsbox
{
  width: 600px;
  margin-top: 20px;
  border: 1px solid #999999;
}

fieldset 
{
  margin-bottom: 0.5em;
  border: 1px solid #999999;
  padding: 4px 8px 9px 8px; 
}

legend
{
  color: #999999;
}

#prefsscreen
{
  position: absolute;
  top: 43px;
  right: 312px;
  bottom: 0px;
  left: 210px;
  border: 1px solid #999999;
}

#sectionslist
{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #F9F9F9;
  overflow: auto;
}

#sections-table
{
  width: 100%;
  table-layout: fixed;
  
}

#sections-table tbody td
{
  cursor: default;
}

#prefs-box
{
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
}

body.iframe,
#prefs-frame
{
  border: none;
  margin:0px 0px 0px 0px;
  
}

#formfooter
{
  width: 100%;
}

#formfooter .footerleft
{
  padding-left: 15px;
  white-space: nowrap;
  float: left;
}

#formfooter .footerright
{
  padding-right: 15px;
  white-space: nowrap;
  text-align: right;
  float: right;
}

#rightbar {
	width: 312px;
	height: 100%;
	position: absolute;
	top: 43px;
	right: 0px;
	bottom: 0px;
	border-left: 1px solid #d6d6d6;
	background-color: #f2f2f2;
	position: fixed;
}

#rightbar .rightbar-content {
	margin: 28px 0px 0px 40px;
}

#rightbar .rightbar-content h1 {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	padding: 0px;
}

#rightbar .rightbar-content ul {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
	white-space: nowrap;
}

#rightbar .rightbar-content li a {
	height: 18px;
	display: block;
	color: #1C4FAD;
	font-size: 11px;
	font-weight: normal;
	font-family: Helvetica,Arial,sans-serif;
	padding: 0px 0px 0px 19px;
	text-decoration: none;
	background: transparent url("images/buttons/arrow_act.png") 1px 1px no-repeat;
}

#rightbar .rightbar-content li a:hover {
	text-decoration: underline;
}

#rightbar .rightbar-content li:hover {
	background: transparent url("images/buttons/arrow_sel.png") 1px 1px no-repeat;
}

#rightbar .rightbar-content .borderline {
	border-top: 1px solid #D6D6D6;
	font-size: 0px;
	margin-top: 15px;
	margin-right: 52px;
}
