<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><roundcube:object name="pagetitle" /></title>
		<roundcube:include file="/includes/links.html" />
		<link rel="stylesheet" type="text/css" href="/addresses.css" />
		<script type="text/javascript" src="/splitter.js"></script>
	</head>
	<body>
		<div id="abooktaskbar">
			<div class="left">
				<roundcube:button command="mail" label="mail" class="button-mail" title="mail" />
				<roundcube:button command="addressbook" label="addressbook" class="button-addressbook" title="addressbook" />
				<roundcube:container name="taskbar" id="taskbar" />
				<roundcube:button command="settings" label="settings" class="button-settings" title="settings" />
			</div>
			<div class="center">
				<div id="addresstoolbar1">
				<roundcube:button command="add" imageSel="/images/buttons/add_contact_sel.png" imageAct="/images/buttons/add_contact_act.png" imagePas="/images/buttons/add_contact_pas.png" width="16" height="16" title="newcontact" />
				</div>
				<div id="addresstoolbar2">
				<roundcube:button command="edit" imageSel="/images/buttons/edit_sel.png" imageAct="/images/buttons/edit_act.png" imagePas="/images/buttons/edit_pas.png" width="16" height="16" title="editcontact" condition="!ENV:readonly" />
				</div>
				<div id="addresstoolbar3">
				<roundcube:button command="delete" imageSel="/images/buttons/delete_sel.png" imageAct="/images/buttons/delete_act.png" imagePas="/images/buttons/delete_pas.png" width="16" height="16" title="deletecontact" />
				</div>
				<div id="addresstoolbar4">
				<roundcube:button command="export" imageSel="/images/icons/abcard.png" imageAct="/images/icons/abcard.png" imagePas="images/icons/abcard.png" width="20" height="16" title="export" />
				</div>
			</div>
			<div class="right">
				<div id="quicksearchbar">
					<roundcube:button name="searchmod" id="searchmod" image="/images/icons/glass.png" />
					<roundcube:object name="searchform" type="none" value="" results="5" id="abookquicksearchbox" style="color: #B0B3B5;" onfocus="this.style.color='#F0F0F0';if(this.value=='Search')this.value='';" onblur="if(this.value==''){this.value='Search';this.style.color='#B0B3B5';}" />
					<roundcube:button command="reset-search" id="searchreset" image="/images/icons/reset.png" title="resetsearch" />
				</div>

				<roundcube:button command="logout" label="logout" class="button-logout" title="logout" />
			</div>
		</div>

		<div id="grouplist-container">
			<roundcube:object name="directorylist" id="groupboxlist" />

			<div id="groupboxcontrols">
				<roundcube:button command="add" imageSel="/images/buttons/add_contact_sel.png" imageAct="/images/buttons/add_contact_act.png" imagePas="/images/buttons/add_contact_pas.png" width="16" height="16" title="newcontact" />
				<roundcube:object name="recordsCountDisplay" />
			</div>
		</div>

		<div id="addresslist-container">
			<div id="addresslist">
				<roundcube:object name="addresslist" id="contacts-table" class="records-table" cellspacing="0" cellpadding="0" summary="Contacts list" />
			</div>
		</div>
<div id="abookcountbar" class="pagenav" style="">
  <roundcube:button command="firstpage" type="link" class="buttonPas firstpage" classAct="button firstpage" classSel="button firstpageSel" title="firstpage" content=" " />
  <roundcube:button command="previouspage" type="link" class="buttonPas prevpage" classAct="button prevpage" classSel="button prevpageSel" title="previouspage" content=" " />
  <roundcube:button command="nextpage" type="link" class="buttonPas nextpage" classAct="button nextpage" classSel="button nextpageSel" title="nextpage" content=" " />
  <roundcube:button command="lastpage" type="link" class="buttonPas lastpage" classAct="button lastpage" classSel="button lastpageSel" title="lastpage" content=" " />
</div>
		<script type="text/javascript">
			var addrviewsplit = new rcube_splitter({id:'addressviewsplitter', p1: 'addresslist-container', p2: 'contacts-box', orientation: 'v'});
			rcmail.add_onload('addrviewsplit.init()');
		</script>

		<div id="contacts-box">
			<roundcube:object name="addressframe" id="contact-frame" width="100%" height="100%" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" />
		</div>
	</body>
</html>