<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><roundcube:object name="pagetitle" /></title>
		<roundcube:include file="/includes/links.html" />
		<link rel="stylesheet" type="text/css" href="/login.css" />
	</head>
	<body>
		<img src="skins/MobileCube/images/mobileme_logo.png" alt="" width="140" height="30" id="mobileme-logo" />
		<div id="copyright"></div>
		<div id="options"><a href="http://phireware.com/projects/mobilecube/" target="_blank">MobileCube</a><a href="" title="">v3.1.0</a></div>

		<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" class="bg">
		<tr>
			<td width="100%" height="100%" align="center" valign="middle">
				<div id="loginfield">
					<form name="form" action="./" method="post">
						<div class="login-title"><roundcube:label name="login" /></div>

						<roundcube:object name="loginform" form="form" />

						<div id="keepme">
							<input type="checkbox" id="keepmecheck" name="keepme"><label for="keepmecheck">Keep me logged in for two weeks</label>
						</div>

						<div id="forgot">
							<div class="left">
								<a href="" title="">Forgot password?</a>
							</div>
							<div class="right">
								<input type="submit" class="button" value="<roundcube:label name='login' />" />
							</div>
						</div>

						<div class="borderline"></div>
						
						<roundcube:object name="message" id="loginmessage" />

						<div id="bottom">
							<b>Not yet a Member?</b>
							<br />
							Contact your system admin on how to become a member.
						</div>
					</form>
				</div>
			</td>
		</tr>
		</table>
		<div class="canvas"></div>
	</body>
</html>