<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><roundcube:object name="pagetitle" /></title>
	<roundcube:include file="/includes/links.html" />
	<link rel="stylesheet" type="text/css" href="/mail.css" />
	<script type="text/javascript" src="/functions.js"></script>
</head>
<body onload="rcube_init_mail_ui()">
<roundcube:include file="/includes/taskbarsingle.html" />
	
<div id="mainscreen">
	<div id="mailboxlist-container">
		<roundcube:object name="mailboxlist" id="mailboxlist" maxlength="16" />
	</div>
	<div id="mailboxcontrols">
		<roundcube:button command="expunge" label="compact" classAct="active" title="compact" />&nbsp;
		<roundcube:button command="purge" label="empty" classAct="active2" title="purge" />&nbsp;
	</div>
			
	<div id="mailboxlist-container">
		<roundcube:object name="mailboxlist" id="mailboxlist" maxlength="16" />
	</div>

	<div id="mailrightcontainer">
		<div id="messagetoolbarunder">
			<div class="left">
				<roundcube:button command="list" image="/images/buttons/back_act.png" imageSel="/images/buttons/back_sel.png" imageAct="/images/buttons/back_act.png" width="16" height="16" title="backtolist" />
			</div>
			<div class="center">
				<roundcube:object name="mailboxlist" type="select" noSelection="moveto" maxlength="25" onchange="rcmail.command('moveto', this.options[this.selectedIndex].value)" class="mboxlist" />
			</div>
			<div class="right">
				<div class="buttoncontainer">
					<div class="leftbutton">
						<roundcube:button command="previousmessage" imageSel="/images/buttons/previous2_sel.png" imageAct="/images/buttons/previous2_act.png" imagePas="/images/buttons/previous2_pas.png" width="12" height="9" title="previousmessage" />
					</div>
					<div class="rightbutton">
						<roundcube:button command="nextmessage" imageSel="/images/buttons/next2_sel.png" imageAct="/images/buttons/next2_act.png" imagePas="/images/buttons/next2_pas.png" width="12" height="9" title="nextmessage" />
					</div>
				</div>
			</div>
		</div>

		<div id="messageframe">
			<roundcube:object name="messageHeaders" class="headers-table" cellspacing="0" cellpadding="2" addicon="/images/icons/plus.gif" summary="Message headers" />
			<roundcube:object name="messageAttachments" id="attachment-list" />

			<roundcube:object name="blockedObjects" id="remote-objects-message" />

			<div class="borderline"></div>

			<roundcube:object name="messageBody" id="messagebody" showImages="true" />
		</div>

		<div id="messagecountbar">
			<roundcube:object name="messageCountDisplay" />
			<span class="messagecountbarbuttons">
			<roundcube:button command="previousmessage" imageSel="/images/buttons/previous_sel.png" imageAct="/images/buttons/previous_act.png" imagePas="/images/buttons/previous_pas.png" width="20" height="17" title="previousmessage" /><roundcube:button command="nextmessage" imageSel="/images/buttons/next_sel.png" imageAct="/images/buttons/next_act.png" imagePas="/images/buttons/next_pas.png" width="19" height="17" title="nextmessage" />
		</div>
	</div>
</div>
</body>
</html>