<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
<link rel="stylesheet" type="text/css" href="/settings.css" />
</head>
<body>
<div id="taskbar">

	<div class="left" style="z-index: 23000;">

		<roundcube:button command="mail" label="mail" class="button-mail" title="mail" />

		<roundcube:button command="addressbook" label="addressbook" class="button-addressbook" title="addressbook" />
		
		<roundcube:container name="taskbar" id="taskbar" />

		<roundcube:button command="settings" label="settings" class="button-settings" title="settings" />

	</div>

	<div class="center">
</div>

	<div class="right">
				<div id="quicksearchbar">
					<roundcube:button name="searchmod" id="searchmod" image="/images/icons/glass.png" />
					<roundcube:object name="searchform" type="none" value="" results="5" id="abookquicksearchbox" style="color: #B0B3B5;" onfocus="this.style.color='#F0F0F0';if(this.value=='Search')this.value='';" onblur="if(this.value==''){this.value='Search';this.style.color='#B0B3B5';}" />
					<roundcube:button command="reset-search" id="searchreset" image="/images/icons/reset.png" title="resetsearch" />
				</div>

				<roundcube:button command="logout" label="logout" class="button-logout" title="logout" />
			</div>
<div id="settingslist-container">
			<ul id="settingslist">
				<li class="preferences"><roundcube:button command="preferences" type="link" label="preferences" /></li>
				<li class="identities"><roundcube:button command="identities" type="link" label="identities" class="tablink" /></li>
				<li class="folders"><roundcube:button command="folders" type="link" label="folders" class="tablink" /></li>
				<roundcube:container name="tabs" id="settingslist" />
				<script type="text/javascript"> if (window.rcmail) rcmail.add_onload(rcube_init_settings_tabs); </script>
			</ul>
		</div>

		<div id="prefsscreen">
		<div id="plugin" style="padding: 5px;">
		<center>
<roundcube:object name="plugin.body" />
</center>
<roundcube:object name="plugin.footer" />
</div>
</div>
<div id="rightbar">
	<div class="rightbar-content">
		<h1>Questions?</h1>

		<div class="links">
			<ul>
				<li><a href="http://trac.roundcube.net/wiki" title="" target="_blank">Find a Help topic</a></li>
				<li><a href="http://roundcubeforum.net/" title="" target="_blank">Join a discussion</a></li>
				<li><a href="http://roundcube.net/support" title="" target="_blank">Contact Support</a></li>
			</ul>
		</div>
		<div class="borderline"></div>
</div>	
		<center><br><img src="/images/mobileme_logo2.png"><br><br>You Have Version:<br>3.1.0</center><br>
		<center><iframe width="220" height="250" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" src="http://phireware.com/roundcube/mobilecube/frame/"></iframe></center>

	</div>
</div>
</body>
</html>
